<h1>Listing events</h1>


<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
      <%= render partial: "event", collection: @events %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
